.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
 
}

.App-aside {
  background-color:#07DCF6;
  width: 20%;
  color: white;
}

.App-section {
  background-color:#7C9BEB;
  min-height: 100vh;
  width: 80%;
  color: white;
}

.contenedor-navegacion{
  padding: 3px;
}

.contenedor-paginacion{
  margin: 5px;
}

.boton{
  background-color: beige;
  font-size: larger;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.boton:hover{
  background-color:#7C9BEB;
}
.contendor-categorias{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}

.contenedor-productos{  
    display: grid;
    grid-gap: 0.5rem;
    align-items: center;
    justify-content: center;  
    margin-left: 1%;
    margin-right: 1%;
    /* width: 90%; */
}

.productos {
 
  color: white;
  padding: 1rem;
 /* max-height: 200px;*/
  /* max-height: fit-content; */
}

@media (min-width: 600px) {
  .contenedor-productos { grid-template-columns: repeat(1, 1fr);
                          justify-items: center; }
  .App-content{ flex-direction:column }
  .App-aside { width: 100%;}
  .App-section { width: 100%;}
                        }

@media (min-width: 800px) {
  .contenedor-productos { grid-template-columns: repeat(2, 1fr);
                          justify-items: center; }
                         
}

@media (min-width: 1200px) {
  .contenedor-productos { grid-template-columns: repeat(3, 1fr); }
  .App-content{ flex-direction: row }
  .App-aside { width: 20%;}
  .App-section { width: 80%;}
}


footer {
  background:#10D3EB;
  height: 5em;
  width: 100%;
}